<!DOCTYPE html>
<html lang="en">

@functions
{
    public string isActive(string webpage)
    {
        return ViewBag.Title == webpage ? "selected" : string.Empty;
    }
}

@{
    if (TempData["Message"] != null)
    {
        ViewBag.Message = (string)TempData["Message"];
    }
}


<head>

    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no" />

    <!-- Title -->
    <title>Notes MarketPlace | Admin Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/imgs/icons/favicon.ico" />

    <!-- Title -->
    <title>Notes Marketplace | @ViewBag.Title</title>

    <!-- Google Open Sans Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />


    <!-- Style Bundle -->
    @Styles.Render("~/bundles/CSSDependencies")

</head>


<body>

    <div class="wrapper">

        <!-- Header -->
        <header class="site-header sticky-header">
            <div class="container-fluid">
                <div class="header-wrapper">
                    <div class="logo-wrapper">
                        <a href=@Url.Action("AdminDashboard", "Admin") title="Site Logo">
                            <img src="/Content/imgs/icons/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="navigation-wrapper d-none d-md-flex">
                        <nav class="main-nav">
                            <ul class="menu-navigation">
                                <li class="@isActive("AdminDashboard")">
                                    <a href=@Url.Action("AdminDashboard", "Admin")>Dashboard</a>
                                </li>
                                <li class="contex-menu-toggle">
                                    <a>Notes</a>
                                    <div class="dropdown">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item @isActive("NotesInReview")" href=@Url.Action("NotesInReview", "Admin")>Notes Under Review</a>
                                            <a class="dropdown-item @isActive("PublishedNotes")" href=@Url.Action("PublishedNotes", "Admin")>Published Notes</a>
                                            <a class="dropdown-item @isActive("DownloadedNotes")" href=@Url.Action("DownloadedNotes", "Admin")>Downloaded Notes</a>
                                            <a class="dropdown-item @isActive("RejectedNotes")" href=@Url.Action("RejectedNotes", "Admin")>Rejected Notes</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="@isActive("Members")"><a href=@Url.Action("Members", "Admin")>Members</a></li>
                                <li class="contex-menu-toggle">
                                    <a>Reports</a>
                                    <div class="dropdown">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item @isActive("SpamReports")" href=@Url.Action("SpamReports", "Admin")>Spam Reports</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contex-menu-toggle">
                                    <a>Settings</a>
                                    <div class="dropdown">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item @isActive("SystemConfig")" href=@Url.Action("SystemConfig", "Admin")>Manage System Configuration</a>
                                            <a class="dropdown-item @isActive("Admins")" href=@Url.Action("Admins", "Admin")>Manage Administator</a>
                                            <a class="dropdown-item @isActive("Categories")" href=@Url.Action("Categories", "Admin")>Manage Category</a>
                                            <a class="dropdown-item @isActive("Types")" href=@Url.Action("Types", "Admin")>Manage Type</a>
                                            <a class="dropdown-item @isActive("Countries")" href=@Url.Action("Countries", "Admin")>Manage Countries</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <!-- User Profile Picture -->
                                    <div class="contex-menu-toggle">
                                        <img src="@Session["UserProfile"]" class="user-img">
                                        <div class="dropdown" id="user-context-menu">
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item @isActive("AdminProfile")" href=@Url.Action("AdminProfile", "Admin")>Update Profile</a>
                                                <a class="dropdown-item @isActive("ChangePassword")" href=@Url.Action("ChangePassword", "Authentication")>Change Password</a>
                                                <a class="dropdown-item" href=@Url.Action("Logout", "Authentication")>LOGOUT</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Logout","Authentication")"><button class="btn btn-general rblue-btn">Logout</button></a></li>
                            </ul>
                        </nav>
                    </div>

                    <button class="btn btn-general menu-btn d-md-none"><img class="img-fluid" src="/Content/imgs/icons/bars-solid-rblue.png"></button>
                    <!-- Mobile Navigation -->
                    <nav class="d-md-none navbar" id="mobile-navigation-wrapper">
                        <ul class="menu-navigation navbar-nav">
                            <li class="nav-item @isActive("AdminDashboard")">
                                <a href=@Url.Action("AdminDashboard", "Admin")>Dashboard</a>
                            </li>
                            <li class="contex-menu-toggle nav-item">
                                <a>Notes</a>
                                <div class="dropdown">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item @isActive("NotesInReview")" href=@Url.Action("NotesInReview", "Admin")>Notes Under Review</a>
                                        <a class="dropdown-item @isActive("PublishedNotes")" href=@Url.Action("PublishedNotes", "Admin")>Published Notes</a>
                                        <a class="dropdown-item @isActive("DownloadedNotes")" href=@Url.Action("DownloadedNotes", "Admin")>Downloaded Notes</a>
                                        <a class="dropdown-item @isActive("RejectedNotes")" href=@Url.Action("RejectedNotes", "Admin")>Rejected Notes</a>
                                    </div>
                                </div>
                            </li>
                            <li class="@isActive("Members")"><a href=@Url.Action("Members", "Admin")>Members</a></li>
                            <li class="contex-menu-toggle nav-item">
                                <a>Reports</a>
                                <div class="dropdown">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item @isActive("SpamReports")" href=@Url.Action("SpamReports", "Admin")>Spam Reports</a>
                                    </div>
                                </div>
                            </li>
                            <li class="contex-menu-toggle nav-item">
                                <a>Settings</a>
                                <div class="dropdown">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item @isActive("SystemConfig")" href=@Url.Action("SystemConfig", "Admin")>Manage System Configuration</a>
                                        <a class="dropdown-item @isActive("Admins")" href=@Url.Action("Admins", "Admin")>Manage Administator</a>
                                        <a class="dropdown-item @isActive("Categories")" href=@Url.Action("Categories", "Admin")>Manage Category</a>
                                        <a class="dropdown-item @isActive("Types")" href=@Url.Action("Types", "Admin")>Manage Type</a>
                                        <a class="dropdown-item @isActive("Countries")" href=@Url.Action("Countries", "Admin")>Manage Countries</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown contex-menu-toggle">
                                <!-- User Profile Picture -->
                                <div class="">
                                    <img src="@Session["UserProfile"]" class="user-img">
                                </div>
                                <div class="dropdown" id="user-context-menu">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item @isActive("AdminProfile")" href=@Url.Action("AdminProfile", "Admin")>Update Profile</a>
                                        <a class="dropdown-item @isActive("ChangePassword")" href=@Url.Action("ChangePassword", "Authentication")>Change Password</a>
                                        <a class="dropdown-item" href=@Url.Action("Logout", "Authentication")>LOGOUT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a href="@Url.Action("Logout","Authentication")"><button class="btn btn-general rblue-btn" href="#">Logout</button></a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </header>
        <!-- Header Ends -->

        @RenderBody()

        <!-- Footer -->
        <Footer>
            <div class="container-fluid">
                <div class="row">
                    <!-- Copy right text -->
                    <div class="col-12 col-sm-4 text-center text-sm-left">

                        <p>
                            Version : 1.1
                        </p>

                    </div>

                    <div class="col-12 col-sm-8 text-center text-sm-right">

                        <p>
                            Copyright &copy; Tatvasoft All Rights Reserved.
                        </p>

                    </div>
                </div>
            </div>

        </Footer>
        <!-- Footer Ends -->

    </div>


    @Scripts.Render("~/bundles/JSDependecies")
    <script src="/Content/js/moment/moment.js"></script>
    @if (ViewBag.LoadAjaxJS != null)
    {
        <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }
    @if (ViewBag.LoadValidationScript != null)
    {
        @Scripts.Render("~/bundles/JSValidate")
    }
    @if (@ViewBag.Title == "Home")
    {
        @Scripts.Render("~/bundles/HomeHeaderScript")
    }
    @if (ViewBag.Message != null)
    {
        <script>
                window.onload = (event) => {
                    alert("@ViewBag.Message");
                };
        </script>
    }
</body>

</html>