@functions
{
    public string isActive(string webpage) {
        return ViewBag.Title == webpage ? "selected" : string.Empty;
    }
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/imgs/icons/favicon.ico" />

    <!-- Title -->
    <title>Notes Marketplace | @ViewBag.Title</title>

    <!-- Google Open Sans Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />


    <!-- Style Bundle -->
    @Styles.Render("~/bundles/CSSDependencies")

</head>
<body>
    <div class="wrapper">
        @{
            string HeaderClass = string.Empty;
            string HeaderLogo = string.Empty;
            string HeaderBtn = string.Empty;
            if (ViewBag.Title == "Home")
            {
                HeaderLogo = "/Content/imgs/icons/top-logo.png";
                HeaderBtn = "white-btn";
            }
            else
            {
                HeaderClass = "sticky-header";
                HeaderLogo = "/Content/imgs/icons/logo.png";
                HeaderBtn = "rblue-btn";
            }
        }
        <!-- Header -->
        <header class="site-header @HeaderClass">
            <div class="container-fluid">
                <div class="header-wrapper">
                    <div class="logo-wrapper">
                        <a href=@Url.Action("Index", "Home") title="Site Logo">
                            <img src="@HeaderLogo" alt="logo">
                        </a>
                    </div>
                    <div class="navigation-wrapper d-none d-md-flex">
                        <nav class="main-nav">
                            <ul class="menu-navigation">
                                <li class="@isActive("SearchNotes")">
                                    @*<a href="./search-notes.html">Search Notes</a>*@
                                    @Html.ActionLink("Search Notes", "SearchNotes", "Home")
                                </li>
                                <li class="@isActive("DashBoard")">
                                    @*<a href="./dashboard.html">Sell Your Notes</a>*@
                                    @Html.ActionLink("Sell Your Notes", "DashBoard", "RegisteredUser")
                                </li>
                                <li class="@isActive("Faq")">
                                    @*<a href="./faq.html">FAQ</a>*@
                                    @Html.ActionLink("FAQ", "Faq", "Home")
                                </li>
                                <li class="@isActive("ContactUs")">
                                    @*<a href="./contact-us.html">Contact Us</a>*@
                                    @Html.ActionLink("Contact Us", "ContactUs", "Home")
                                </li>
                                @if (ViewBag.Authorized != null)
                                {
                                    <li>
                                        <!-- User Profile Picture -->
                                        <div class="user-img contex-menu-toggle">
                                            <img src="@Session["UserProfile"]" class="img-fluid">
                                            <div class="dropdown" id="user-context-menu">
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                    @Html.ActionLink("My Profile", "UserProfile", "RegisteredUser", new { }, new { @class = "dropdown-item " + isActive("UserProfile") })
                                                    @Html.ActionLink("My Downloads", "Downloads", "RegisteredUser", new { }, new { @class = "dropdown-item " + isActive("Downloads") })
                                                    @Html.ActionLink("My Sold Notes", "SoldNotes", "RegisteredUser", new { }, new { @class = "dropdown-item " + isActive("SoldNotes") })
                                                    @Html.ActionLink("My Rejected Notes", "RejectedNotes", "RegisteredUser", new { }, new { @class = "dropdown-item " + isActive("RejectedNotes") })
                                                    @Html.ActionLink("Change Password", "ChangePassword", "Authentication", new { }, new { @class = "dropdown-item " + isActive("ChangePassword") })
                                                    @Html.ActionLink("Logout", "Logout", "Authentication", new { }, new { @class = "dropdown-item" })

                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <a href=@Url.Action("Logout", "Authentication")>
                                            <button class="btn btn-general @HeaderBtn">Logout</button>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href=@Url.Action("Login", "Authentication")>
                                            <button class="btn btn-general @HeaderBtn">Login</button>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <button class="btn btn-general menu-btn d-md-none"><img class="img-fluid" src="/Content/imgs/icons/bars-solid-rblue.png"></button>
                    <!-- Mobile Navigation -->
                    <nav class="d-md-none navbar" id="mobile-navigation-wrapper">
                        <ul class="menu-navigation navbar-nav">
                            <li class="nav-item @isActive("SearchNotes")">
                                @*<a href="./search-notes.html">Search Notes</a>*@
                                @Html.ActionLink("Search Notes", "SearchNotes", "Home")
                            </li>
                            <li class="nav-item @isActive("DashBoard")">
                                @*<a href="./dashboard.html">Sell Your Notes</a>*@
                                @Html.ActionLink("Sell Your Notes", "DashBoard", "RegisteredUser")
                            </li>
                            <li class="nav-item @isActive("Faq")">
                                @*<a href="./faq.html">FAQ</a>*@
                                @Html.ActionLink("FAQ", "Faq", "Home")
                            </li>
                            <li class="nav-item @isActive("ContactUs")">
                                @*<a href="./contact-us.html">Contact Us</a>*@
                                @Html.ActionLink("Contact Us", "ContactUs", "Home")
                            </li>

                            @if (ViewBag.Authorized != null)
                            {
                                <li class="nav-item contex-menu-toggle dropdown" id="user-context-menu">
                                    <!-- User Profile Picture -->
                                    <div class="user-img">
                                        <img src="@Session["UserProfile"]" class="img-fluid">
                                    </div>
                                    <div class="dropdown" id="user-context-menu">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @Html.ActionLink("My Profile", "UserProfile", "RegisteredUser", new { }, new { @class = "dropdown-item " + isActive("UserProfile") })
                                            @Html.ActionLink("My Downloads", "Downloads", "RegisteredUser", new { }, new { @class = "dropdown-item " + isActive("Downloads") })
                                            @Html.ActionLink("My Sold Notes", "SoldNotes", "RegisteredUser", new { }, new { @class = "dropdown-item " + isActive("SoldNotes") })
                                            @Html.ActionLink("My Rejected Notes", "RejectedNotes", "RegisteredUser", new { }, new { @class = "dropdown-item " + isActive("RejectedNotes") })
                                            @Html.ActionLink("Change Password", "ChangePassword", "Authentication", new { }, new { @class = "dropdown-item " + isActive("ChangePassword") })
                                            @Html.ActionLink("Logout", "Logout", "Authentication", new { }, new { @class = "dropdown-item" })
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href=@Url.Action("Logout","Authentication")>
                                        Logout
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href=@Url.Action("Login", "Authentication")>
                                        Login
                                    </a>
                                </li>

                            }
                        </ul>
                    </nav>

                </div>
            </div>
        </header>
        <!-- Header Ends -->

        <section id="home" class="">
            @RenderBody()
        </section>

        <!-- Footer -->
        <Footer>
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-8 text-sm-left text-center mb-3">
                        <p>
                            Copyright &copy; Tatvasoft All Rights Reserved.
                        </p>
                    </div>

                    <div class="col-12 col-sm-4 text-sm-right text-center">

                        <ul>
                            <li><a href="#"><img src="/Content/imgs/icons/facebook.png" class="img-fluid"></a></li>
                            <li><a href="#"><img src="/Content/imgs/icons/twitter.png" class="img-fluid"></a></li>
                            <li><a href="#"><img src="/Content/imgs/icons/linkedin.png" class="img-fluid"></a></li>
                        </ul>

                    </div>
                </div>
            </div>

        </Footer>
        <!-- Footer Ends -->
    </div>

    @Scripts.Render("~/bundles/JSDependecies")
    @if (ViewBag.Title == "AddNotes")
    {
        @Scripts.Render("~/bundles/JSValidate")
    }
    @if (@ViewBag.Title == "Home")
    {
        @Scripts.Render("~/bundles/HomeHeaderScript")
    }
    @if (ViewBag.Title == "SearchNotes")
    {
        <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }
    @if (ViewBag.Message != null)
    {
        <script>alert("@ViewBag.Message")</script>
    }
</body>
</html>
