@model NotesMarketplace.Models.HomeModels.NoteModel
@{
    ViewBag.Title = "NoteDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Note Details page-->
<section id="note-details" class="">

    <!-- Basic Note Details Section -->
    <section id="basic-note-details">

        <div class="content-box-sm">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-12 text-center text-sm-left">
                        <div class="horizontal-heading">

                            <h4>Notes Details</h4>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-7">

                        <div class="row">
                            <div class="col-sm-5 col-12 text-center text-sm-left">

                                @if (@Model.DisplayPicture == null)
                                {
                                    ViewBag.DP = "/Content/SystemConfig/DefaultNoteCover.png";
                                }
                                else
                                {
                                    ViewBag.DP = Model.DisplayPicture;
                                }

                                <img id="cover-page" class="img-fluid" src="@ViewBag.DP">

                            </div>

                            <div class="col-sm-7 col-12 text-center text-sm-left">

                                <div id="details">

                                    <div class="horizontal-heading">

                                        <h3>@Model.Title</h3>

                                    </div>

                                    <h5 id="category">@Model.Category</h5>

                                    <p id="description">@Model.Description</p>
                                    @*using (Html.BeginForm("DownloadNote", "RegisteredUser", FormMethod.Post, new { id="DownloadNoteForm"}))
                                        {
                                            <input type="hidden" value="@Model.NoteId" required />
                                        }*@

                                    @*@Html.ActionLink("download " + (Model.Price > 0 ? "| $" + Model.Price : ""), "Notes", "Assets", new { NoteId = 1 }, new { @class = "btn btn-general rblue-btn", id = "download-btn" })*@
                                    @{
                                        string DownButtonText = Model.Price > 0 ? "| $" + @Model.Price : String.Empty;
                                        <a href="/Assets/Notes/@Model.NoteId" class="btn btn-general rblue-btn" , id="download-btn">download @DownButtonText</a>
                                    }
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-lg-5 table-responsive">

                        <div class="row">

                            <div class="col-6 col-sm-6 text-right text-sm-left" id="extra-details">

                                <p id="institution">Institution:</p>

                                <p id="country">Country:</p>

                                <p id="course-name">Course Name:</p>

                                <p id="course-code">Course Code:</p>

                                <p id="professor">Professor:</p>

                                <p id="pages">Number of Pages:</p>

                                <p id="approved-date">Approved Date:</p>

                                <p id="rating">Rating:</p>

                            </div>

                            <div class="col-6 col-sm-6 text-sm-right" id="extra-details-value">

                                <p id="institution-value">@Model.Institution</p>

                                <p id="country-value">@Model.Country</p>

                                <p id="course-name-value">@Model.CourseName</p>

                                <p id="course-code-value">@Model.CourseCode</p>

                                <p id="professor-value">@Model.Professor</p>

                                @if (@Model.Pages == 0)
                                {
                                    <p id="pages-value">N/A</p>
                                }
                                else
                                {
                                    <p id="pages-value">@Model.Pages</p>
                                }

                                <p id="approved-date-value">@Model.Approved.ToString("MMM dd, yyyy")</p>

                                <p id="rating-value" class="rating">
                                    @for (int i = 0; i < (int)Model.rating; i++)
                                    {
                                        <span class="star"></span>
                                    }
                                    @for (int i = 0; i < 5 - (int)Model.rating; i++)
                                    {
                                        <span class="empty-star"></span>
                                    }
                                    <br />
                                    <span id="no-of-reviews">@Model.Reviews.Count</span>
                                    <span> Reviews</span>
                                </p>

                            </div>

                            <div class="col-xl-12 text-center text-sm-left">

                                <p class="inappropriate"><span id="inappropriate-no">@Model.Reports</span> Users marked this note as inappropriate</p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="note-preview-reviews">
        <div class="content-box-sm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5" id="note-preview">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="horizontal-heading">
                                    <h4>Notes Prieview</h4>
                                </div>

                            </div>
                        </div>

                        <div class="row iframe-row">
                            <div class="col-md-12">
                                <div class="iframe-wapper" id="iframe-wrapper">
                                    <div class="iframe-wrapper-inner">
                                        @if (!String.IsNullOrEmpty(@Model.Preview))
                                        {
                                            ViewBag.PreviewPath = @Model.Preview;
                                        }
                                        else
                                        {
                                            ViewBag.PreviewPath = "/Content/SystemConfig/PreviewNotFound.pdf";
                                        }
                                        <iframe id="note-preview-pdf" src="@ViewBag.PreviewPath">
                                            <p><em><strong>ERROR: </strong>An iframe should be displayed here but your browser version does not support iframes.</em> Please update your browser to its most recent version and try again, or access the file <a href="/Content/imgs/notes/sample.pdf">with this link.</a></p>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-7" id="note-reviews">
                        <div class="horizontal-heading">
                            <h4>Customer Reviews</h4>
                        </div>
                        <div class="reviews">
                            @if (Model.Reviews.Count == 0)
                            {
                                <div class="col-md-12 review">
                                    <div class="row text-center">
                                        <h5>No Reviews</h5>
                                    </div>
                                </div>
                            }
                            @foreach (NotesMarketplace.Models.HomeModels.Review review in Model.Reviews)
                            {
                                <div class="col-md-12 review">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img class="ReviwerProfilePicture" src="@review.ReviwerProfilePicture" alt="Reviewer Profie Picture">
                                        </div>
                                        <div class="col-md-10 text-center text-md-left">
                                            <div class="delete-icon"><a href="/Admin/NoteActions/@Model.NoteId/DeleteReview/@review.ReviewID"><img src="/Content/imgs/icons/delete.png"></a></div>
                                            <h5>@review.BuyerName</h5>
                                            <p class="rating">
                                                @for (int i = 0; i < (int)review.Rating; i++)
                                                {
                                                    <span class="star"></span>
                                                }
                                                @for (int i = 0; i < 5 - (int)review.Rating; i++)
                                                {
                                                    <span class="empty-star"></span>
                                                }
                                            </p>
                                            <p>@review.Comment</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
<!-- Note Details Page Ends -->
