@model NotesMarketplace.Models.RegisteredUserModels.DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Dash Board page-->
<section id="dashboard" class="">

    <!-- Content Section -->
    <section id="content-section">

        <div class="content-box-sm">

            <div class="container-fluid">

                <section id="dashboard-items">

                    <div class="row justify-content-between">

                        <div class="col-12 col-sm-6">

                            <div class="horizontal-heading first-heading">
                                <h3>Dashboard</h3>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 text-md-right text-center">
                            <a href="@Url.Action("AddNotes", "RegisteredUser")"><button class="btn btn-general rblue-btn btn-add" role="link">Add Note</button></a>
                        </div>
                    </div>

                    <div class="row" id="stats">
                        <div class="col-lg-6">
                            <div class="row" id="earning">
                                <div class="col-sm-3 text-center">
                                    <div class="stat-border stat">
                                        <div><img src="/Content/imgs/icons/earning-icon.svg" alt="earning-icon"></div>
                                        <p class="stat-val"><span>My Earning</span></p>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="stat">
                                        <div class="stat-val"><a href="/RegisteredUser/SoldNotes/">@Model.NotesSold</a></div>
                                        <p>No of Notes Sold</p>
                                    </div>
                                </div>
                                <div class="col-sm-5 text-center">
                                    <div class="stat">
                                        <div class="stat-val"><a href="/RegisteredUser/SoldNotes/">&dollar;@Model.MoneyEarned</a></div>
                                        <p>Money Earned</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row h-100">
                                <div class="col-sm-4 text-center">
                                    <div class="stat stat-border">
                                        <div class="stat-val"><a href="@Url.Action("Downloads", "RegisteredUser")">@Model.Downloads</a></div>
                                        <p>My Downloads</p>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="stat stat-border">
                                        <div class="stat-val"><a href="@Url.Action("RejectedNotes", "RegisteredUser")">@Model.Rejecteds</a></div>
                                        <p>My Rejected<br>Notes</p>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="stat stat-border">
                                        <div class="stat-val"><a href="@Url.Action("BuyerRequests", "RegisteredUser")">@Model.BuyerRequests</a></div>
                                        <p>Buyer<br /> Requests</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- inprogress notes section -->
                <section id="inprogress-notes">

                    <div class="row table-heading justify-content-between">

                        <div class="col-sm-5">

                            <div class="horizontal-heading first-heading">
                                <h4>In Progess Notes</h4>
                            </div>
                        </div>
                        <div class="col-sm-7 text-right">
                            <div class="row justify-content-sm-end justify-content-around">
                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                                    <img class="search-icon" src="/Content/imgs/icons/search-icon.svg" alt="search-icon">
                                    <input id="inprogress-table-search" type="text" class="form-control" placeholder="Search" />
                                </div>
                                <button data-table-id="#inprogress-table" data-search-input="#inprogress-table-search" class="btn btn-general rblue-btn search-in-table" href="./add-notes.html">search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="inprogress-table" class="table tablesorter" data-sort-on-col-and-order="0,1">

                            <thead>
                                <tr>
                                    <th scope="col">ADDED DATE</th>
                                    <th scope="col">TITLE</th>
                                    <th scope="col">CATEGORY</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col" class="action">ACTION</th>
                                </tr>
                            </thead>

                            <tbody data-tr-per-page="5">
                                @if (Model.InProgressNotes != null && Model.InProgressNotes.Count != 0)
                                {
                                    foreach (var note in Model.InProgressNotes)
                                    {
                                        <tr>
                                            @if (note.AddedDate != null)
                                            {
                                                DateTime dt = note.AddedDate ?? DateTime.MinValue;
                                                <td>@dt.ToString("dd-MM-yyyy")</td>
                                            }
                                            else
                                            {
                                                <td>N/A</td>
                                            }
                                            <td>@note.NoteTitle</td>
                                            <td>@note.NoteCategory</td>
                                            <td>@note.Status</td>
                                            @if (note.Status == "Draft")
                                            {
                                                <td class="action">
                                                    <a href="/NoteActions/Edit/@note.NoteID"><img src="/Content/imgs/icons/edit.png"></a>
                                                    <a href="/NoteActions/Delete/@note.NoteID" onclick="return confirm('Are you sure, you want to delete this note?')"><img src="/Content/imgs/icons/delete.png"></a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="action">
                                                    <a href="/NoteActions/View/@note.NoteID"><img src="/Content/imgs/icons/eye.png"></a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="no-results"><td class="text-center" colspan="5">No Records Found</td></tr>
                                }
                            </tbody>

                        </table>
                    </div>

                    <!-- Pagination -->
                    <div class="row">

                        <div class="col-md-12">

                            <span class="pagination-control" pagination-data="#inprogress-table tbody" max-page-shown="20">

                                <nav aria-label="search results navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" start-page="1">
                                            <a class="page-link" aria-label="Previous">
                                                <img src="/Content/imgs/icons/left-arrow.png">
                                            </a>
                                        </li>
                                        <li class="page-item" end-page="1">
                                            <a class="page-link" aria-label="Next">
                                                <img src="/Content/imgs/icons/right-arrow.png">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </span>

                        </div>

                    </div>

                </section>

                <!-- Published Notes Section -->
                <section id="published-notes">

                    <div class="row table-heading justify-content-between">

                        <div class="col-sm-5">

                            <div class="horizontal-heading first-heading">
                                <h4>Published Notes</h4>
                            </div>
                        </div>
                        <div class="col-sm-7 text-right">
                            <div class="row justify-content-sm-end justify-content-around">
                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                                    <img class="search-icon" src="/Content/imgs/icons/search-icon.svg" alt="search-icon">
                                    <input id="published-notes-table-search" type="text" class="form-control" placeholder="Search" />
                                </div>
                                <button data-table-id="#published-notes-table" data-search-input="#published-notes-table-search" class="btn btn-general rblue-btn search-in-table" href="./add-notes.html">search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="published-notes-table" class="table tablesorter" data-sort-on-col-and-order="0,1">

                            <thead>
                                <tr>
                                    <th scope="col">ADDED DATE</th>
                                    <th scope="col">TITLE</th>
                                    <th scope="col">CATEGORY</th>
                                    <th scope="col">SELL TYPE</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col" class="action">ACTION</th>
                                </tr>
                            </thead>

                            <tbody data-tr-per-page="5">
                                @if (Model.PublishedNotes != null && Model.PublishedNotes.Count != 0)
                                {
                                    foreach (var note in Model.PublishedNotes)
                                    {
                                        <tr>
                                            @if (note.AddedDate != null)
                                            {
                                                DateTime dt = note.AddedDate ?? DateTime.MinValue;
                                                <td>@dt.ToString("dd-MM-yyyy")</td>
                                            }
                                            else
                                            {
                                                <td>N/A</td>
                                            }
                                            <td>@note.NoteTitle</td>
                                            <td>@note.NoteCategory</td>
                                            <td>@note.SellType</td>
                                            <td>&dollar;@note.Price</td>
                                            <td class="action">
                                                <a href="/Home/NoteDetails/@note.NoteID"><img src="/Content/imgs/icons/eye.png"></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="no-results"><td class="text-center" colspan="6">No Records Found</td></tr>
                                }

                            </tbody>

                        </table>
                    </div>

                    <!-- Pagination -->
                    <div class="row">

                        <div class="col-md-12">

                            <span class="pagination-control" pagination-data="#published-notes-table tbody" max-page-shown="20">

                                <nav aria-label="search results navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" start-page="1">
                                            <a class="page-link" aria-label="Previous">
                                                <img src="/Content/imgs/icons/left-arrow.png">
                                            </a>
                                        </li>
                                        <li class="page-item" end-page="1">
                                            <a class="page-link" aria-label="Next">
                                                <img src="/Content/imgs/icons/right-arrow.png">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </span>

                        </div>

                    </div>

                </section>

            </div>
        </div>
    </section>
    <!-- Content Section Ends -->
</section>
<!-- Search Notes page Ends -->