@using NotesMarketplace.Models.RegisteredUserModels;

@model NotesMarketplace.Models.RegisteredUserModels.DownloadsModel
@{
    ViewBag.Title = "Downloads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- loading pop-up for ajax request -->
<div class="modal fade" id="loading-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="Loading-modal-content">
        </div>
    </div>
</div>
<!-- loading pop-up popup ends-->

<!-- Review note pop-up -->
<div class="modal fade" id="review-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="review-modal-content">
        </div>
    </div>
</div>
<!-- Review note popup ends-->
<!-- Report note pop-up -->
<div class="modal fade" id="report-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="report-modal-content">
        </div>
    </div>
</div>
<!-- Review popup ends-->
<!-- My Downloads page-->
<section id="downloads" class="">

    <!-- Content Section -->
    <section id="content-section">

        <div class="content-box-sm">

            <div class="container-fluid">

                <!-- downloads table section -->
                <section id="downloads-table-section">

                    <div class="row table-heading justify-content-between">

                        <div class="col-sm-5">

                            <div class="horizontal-heading first-heading">
                                <h3>My Downloads</h3>
                            </div>
                        </div>
                        <div class="col-sm-7 text-right">
                            <div class="row justify-content-sm-end justify-content-around">

                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                                    <img class="search-icon" src="/Content/imgs/icons/search-icon.svg" alt="search-icon">
                                    <input id="downloads-table-search" type="text" class="form-control" placeholder="Search" />
                                </div>
                                <button data-table-id="#downloads-table" data-search-input="#downloads-table-search" class="btn btn-general rblue-btn search-in-table">search</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="downloads-table" class="table tablesorter" data-sort-on-col-and-order="6,1">

                            <thead>
                                <tr>
                                    <th scope="col" class="srno">SR NO</th>
                                    <th scope="col">NOTE TITLE</th>
                                    <th scope="col">CATEGORY</th>
                                    <th scope="col">SELLER</th>
                                    <th scope="col">SELL TYPE</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">DOWNLOADED DATE/TIME</th>
                                    <th scope="col" colspan="2" class="action"></th>
                                </tr>
                            </thead>

                            <tbody data-tr-per-page="10">
                                @if (Model.DownloadProperty != null && Model.DownloadProperty.Count != 0)
                                {
                                    int i = 0;
                                    foreach (var Note in Model.DownloadProperty)
                                    {
                                        <tr>
                                            <td class="srno">@(++i)</td>
                                            <td><a href="/Home/NoteDetails/@Note.NoteID">@Note.NoteTitle</a></td>
                                            <td>@Note.NoteTitle</td>
                                            <td>@Note.Seller.Email</td>
                                            <td>@(Note.IsPaid ? "Paid" : "Free")</td>
                                            <td>&dollar;@Note.PurchasedPrice</td>
                                            @if (Note.DownloadDate == null)
                                            {
                                                <td>N/A</td>
                                            }
                                            else
                                            {
                                                DateTime DwnTime = Note.DownloadDate ?? DateTime.MinValue;
                                                <td>@(DwnTime.ToString("dd MMM yyyy, HH:mm:ss"))</td>
                                            }
                                            <td class="action"><a href="/Home/NoteDetails/@Note.NoteID"><img src="/Content/imgs/icons/eye.png"></a></td>
                                            <td class="dots-menu-button">
                                                <span class="dots">
                                                    <img src="/Content/imgs/icons/dots.png">
                                                    <div class="dropdown" class="dots-menu">
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="/Assets/Notes/@Note.NoteID">Download Note</a>
                                                            @Ajax.ActionLink("Add Reviews/Feedback", "Rate/" + Note.NoteID, "NoteActions", null, new AjaxOptions()
                                                       {
                                                           UpdateTargetId = "review-modal-content",
                                                           HttpMethod = "GET",
                                                           InsertionMode = InsertionMode.Replace,
                                                           OnFailure = "alert('Something Went Wrong')",
                                                           OnSuccess = "ReloadValidationScript()"

                                                       }, new { @class = "dropdown-item add-review-icon" })
                                                            @Ajax.ActionLink("Report as Inappropriate", "Report/" + Note.NoteID, "NoteActions", null, new AjaxOptions()
                                                            {
                                                                UpdateTargetId = "report-modal-content",
                                                                HttpMethod = "GET",
                                                                InsertionMode = InsertionMode.Replace,
                                                                OnFailure = "alert('Something Went Wrong')",
                                                                OnSuccess = "ReloadValidationScript()"
                                                            }, new { @class = "dropdown-item" })
                                                        </div>
                                                    </div>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>

                    </div>

                    <!-- Pagination -->
                    <div class="row">

                        <div class="col-md-12">

                            <span class="pagination-control" pagination-data="#downloads-table tbody" max-page-shown="20">

                                <nav aria-label="search results navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item" start-page="1">
                                            <a class="page-link" aria-label="Previous">
                                                <img src="/Content/imgs/icons/left-arrow.png">
                                            </a>
                                        </li>
                                        <li class="page-item" end-page="1">
                                            <a class="page-link" aria-label="Next">
                                                <img src="/Content/imgs/icons/right-arrow.png">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </span>

                        </div>

                    </div>

                </section>

            </div>
        </div>
    </section>
    <!-- Content Section Ends -->
</section>
<!-- My Downloads page Ends -->
