@model NotesMarketplace.Models.AuthenticationModels.ForgotPassword
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<!-- Forgot Password -->
<section id="forgot-password" class="user-credentials-config">

    <div class="content-box-center">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <!-- Logo -->
                    <div class="top-logo">
                        <a href="@Url.Action("Index","Home")"><img src="/Content/imgs/icons/top-logo.png" class="img-responsive" alt="Notes Marketplace logo"></a>
</div>
                </div>

            </div>

            <!-- White Center Box -->
            <div class="white-box">

                <div class="row">

                    <div class="col-md-12">

                        <div class="heading">
                            Forgot Password?
                        </div>

                    </div>

                    <div class="col-md-12">

                        <div class="sub-head">
                            Enter your email to reset your password
                        </div>

                        @if (ViewBag.Success != null && ViewBag.Success)
                        {
                            <div class="success" style="margin-bottom:20px;text-align:center;">We have sent you temporary password in email<br />You will be redirected to Login authomatically in 5 seconds.</div>
                        }
                        else if (ViewBag.Success != null && !ViewBag.Success)
                        {
                            <div class="incorrect-field" style="margin-bottom:20px;text-align:center;">We can't find any user with that email.</div>
                        }

                    </div>

                </div>

                @*<form name="forgot-password" action="">*@
                @using (Html.BeginForm("ForgotPassword", "Authentication"))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">

                                @*<label for="email">Email</label>*@
                                @Html.LabelFor(m => m.Email)

                                @*<input type="email" class="form-control" id="email" placeholder="Enter your email address">*@
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email address" })

                                @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "incorrect-field" })

                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <button class="btn btn-general rblue-btn" name="change-password-submit">SUBMIT</button>
                        </div>

                    </div>

                    @*</form>*@
                }

            </div>

        </div>

    </div>

</section>
@if (ViewBag.Success != null && ViewBag.Success)
{
    <script>
        setTimeout(function () {

            window.location.href = "https://localhost:44374/Authentication/Login";

        }, 10000);    
    </script>
}